p{
    font-weight:bold;
    font-size:35px;
    margin-left:6px;
}
select{
    margin-left:550px;
    width:190px;
    text-align:center;
    padding:1px 9px 1px 3px;
    margin-top:50px;
    outline:none;
    height:25px;
}
#intro{
    color:blue;
    font-size:26px;
    margin-left:190px;
    margin-top:90px;
    
}
#button-select{
    margin-left:500px;
   
    font-size:19px;
    color:navy;
    font-weight:lighter;
}
#jumbled-buttons{
   
    font-weight:lighter;
    margin-left:360px;
}
.btn{
    height:40px;
    width:100px;
    text-align:center;
    cursor:pointer;
    border:1px solid grey;
    outline:none;
    border-radius:6px;
    margin-left:13px;
    
}
.btn:hover{
    background-color: lightgray;
}
#formed-sentence{
    color:blue;
    font-size:26px;
    margin-left:490px;
}
span{
    font-size:19px;
    color:navy;
    font-weight:lighter;
}


#selectedWo{
   font-size:30px;
     color:black;
     padding:16px;
     text-align: center;
}
#reform{
    margin-left:650px;
}