#he{
    font-size:40px;
    margin-left:10px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;

}
#container{
    height:800px;
    margin-left:50px;
    width:1400px;
    background-color:lightgoldenrodyellow;
    box-shadow:10px 10px 10px 10px lightgrey;
}
#exp{
    font-weight:bold;
    font-size:28px;
    margin-top:25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:15px;
}
select{
    margin-left:500px;
    margin-top:48px;
    height:30px;
    outline:none;
    border-radius:3px;
    width:160px;
}
#require-text{
    text-align:center;
    font-weight:30px;
     margin-left:19px;
     margin-right:19px;
    line-height:49px;
    font-size:20px;
    text-align:justify;
    
}
table{
    margin-left:500px;
    margin-top:20px;
    border-collapse:collapse;
}
td{
    border:2px solid grey;
    height:40px;
    width:95px;
    text-align:center;
    
}
#field{
    width:70px;
    height:29px;
}
#txt{
    font-size: 18px;
}
#msg{
    font-size:20px;
    margin-left:420px;
    margin-top:70px;
}